CLIENT_URL="https://api.aleph-alpha.com"
ARGILLA_API_URL="http://localhost:6900/"
ARGILLA_API_KEY="argilla.apikey"

# local dev builds run on 5173
TRACE_VIEWER_URL="http://localhost:3000"
STUDIO_URL=http://localhost:8000

# DB Variables
POSTGRES_HOST=localhost:5433
POSTGRES_DB=il_sdk
POSTGRES_USER=il_sdk
POSTGRES_PASSWORD=test

# things to adapt
DATA_SERVICE_URL=...
HUGGING_FACE_TOKEN=token
AA_TOKEN=token
